.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.cardContainer {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #477890;
  border-radius: 2px;
  background-color: #8e3b46;
  color: #5691b3;
}

img {
  width: 160px;
  border-radius: 5px;
}

p {
  padding: 5px;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p:last-child {
  color: #e1dd8f;
}

h2 {
  font-family: fantasy;
  font-size: 40px;
  text-transform: uppercase;
}
button,
input {
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: rgb(131, 0, 0);
}
input {
  background-color: #e1dd8f;
}

button {
  margin-left: 3px;
  background-color: #5691b3;
}
